/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  color:#fff;
}
.footer.container{
  color: white;
}

.form-register{
  width: 700px;
  background: #ffffff;
  padding: 30px;
  margin: right;
  margin-top: 50px;
  border-radius: 50px;
  font-family: 'calibri';
  color: rgba(0, 0, 0, 0.666);
  box-shadow: 7px 13px 37px rgb(0, 34, 252);
  margin-right: 1000px;
}

.form-register h4 
{
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
body {
  background-image: url('vetrinag.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
h1 {
  border-bottom: 3px solid #cc9900;
  font: 2.75em/1.75em Georgia, serif;
  color: #996600;
}



img {
margin: auto;
display: block;
}

div {
width: 600px;
}
.parrafo{
  font-size: 40px;
  color: #fff;
}
.imagen-perro{
  height: 50px;
  width: 100px;
}

.auxiliar{
  font-size: 20px;
  color: rgb(29, 20, 20);
}
