@page
@model IndexModel
@{
    ViewData["Title"] = "Veterinaria Mascota Feliz";
}

<div class="text-center">
    <h1 class="display-4"> Bienvenidos Veterinaria Mascota Feliz</h1>
    <p>El cuidado <a href="https://www.youtube.com/watch?v=qEDpmJlZTAg"> Veterinario</a>.</p>
</div>


<header class="header">
    <div class="container">
        <div class="row">
            <div class="four colums">
                <h1><img src="pg.png" alt=""><i>Mascota Feliz</i></h1>
                <div class="two columns u-pull-right">
                </div>
            </div>
        </div>
    </div>
</header>

<a href="http://127.0.0.1:5500/prueba.html"> <img src="casitita.png" alt=""> </a>
<strong>
    <p class="hospi">Hospital en casa</p>
</strong>
<h3><strong>APARTA TU VISITA ¡QUE ESPERAS!</strong></h3>

<html>

<body>

    <table>
        <colgroup>
            <col style="background-color: rgb(144, 240, 234);">
            <col style="background-color: rgb(144, 240, 234);">
            <col style="background-color: rgb(144, 240, 234);">
        </colgroup>
        <thead>
            <tr>
                <td><a href="http://127.0.0.1:5500/inscripcion.html"> ¡ REGISTRATE AQUI !-- </a> </td>

                <td> <a href="http://127.0.0.1:5500/citas.html">
                        APARTA TU SITA AQUI-- </a></td>

                <td> <a href="http://127.0.0.1:5500/veterinario.html"> INFORMACION DE LOS VETERINARIOS</a></td>
            </tr>
        </thead>
        <tr>
            <td><a href="http://127.0.0.1:5500/inscripcion.html">
                    <img src="foo.png" alt=""> </a></td>
            <td> <a href="http://127.0.0.1:5500/citas.html"> <img src="masc.png" alt=""> </a></td>
            <td> <a href="http://127.0.0.1:5500/veterinario.html">
                    <img src="coct.png" alt=""> </a></td>
        </tr>
    </table>

    <h4>Cuidar a tu mascota es lo mas impotante</h4> <img src="enCasa.png" alt="">
</body>

</html>
