@page
@model IndexModel
@{
    ViewData["Title"] = "Veterinaria Mascota Feliz";
}

<div class="text-center">
    <h1 class="display-4"> Bienvenidos Veterinaria Mascota Feliz</h1>
    <p>El cuidado <a href="https://www.youtube.com/watch?v=qEDpmJlZTAg"> Veterinario</a>.</p>
</div>


<header class="header">
    <div class="container">
        <div class="row">
            <div class="four colums">
                <h1><img src="pg.png" alt=""><i>Mascota Feliz</i></h1>
                <div class="two columns u-pull-right">
                </div>
            </div>
        </div>
    </div>
</header>
