@page
@model IndexModel
@{
    ViewData["Title"] = "Veterinaria Mascota Feliz";

    
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-center">
    <h1 class="display-4"> Bienvenidos Veterinaria Mascota Feliz</h1><br>
    <p>El cuidado <a href="https://www.youtube.com/watch?v=qEDpmJlZTAg"> Veterinario</a>.</p><br><br><br><br>
</div>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="four colums">
                <h5><img src="pg.png" alt=""></h5>
                <div class="two columns u-pull-right">
                </div>
            </div>
        </div>
    </div><br><br><br><br>
</header>


<h3><strong>APARTA TU VISITA ¡QUE ESPERAS!</strong></h3><br><br><br><br>


<html>

<body>
    <h4>Cuidar a tu mascota es lo mas importante</h4> <br>
</body>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="one colums">
                <h5><img src="enCasa.png" alt=""></h5>
                <div class="tree columns u-pull-right">
                </div>
            </div>
        </div>
    </div><br><br><br><br>
</header>

</html>
