@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1><br><br>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <section class="parrafo">
        <p>A través de la Ley 1581 de 2012 y el Decreto 1377 de 2013, se desarrolla el derecho constitucional que tienen
            todas las personas a conocer, suprimir, actualizar y rectificar todo tipo de datos personales recolectados,
            almacenados o que hayan sido objeto de tratamiento en bases de datos en las entidades del públicas y
            privadas.</p>
    </section>
</head>
