@page
@model MascotaFelizWeb.App.Frontend.Pages.RegistroModel
@{
    ViewData["Title"] = "Registra tu usuario";
}
<h1>@ViewData["Title"]</h1><br><br>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
  <section class="form-register">
    <h4>Diligencia tus datos aquí</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese el Nombre de su mascota">

    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese la edad de su mascota">
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese el tipo de  mascota">
    <input class="controls" type="number" name="nombres" id="nombres" placeholder="Ingrese esu telefono">
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su direccion">


    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese identificacion">
    <input class="botons" type="submit" value="Registrar">

  </section>
