@page
@model MascotaFelizWeb.App.Frontend.Pages.VeterinariosModel
@{
    ViewData["Title"] = "Conoce a nuestros veterinarios";
}
<h1>@ViewData["Title"]</h1><br><br>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<html>



<header class="header">
    <div class="container">
        <div class="row">
            <div class="one colums">
                <h5><img src="veterinarios.jpg" alt=""></h5>
                <div class="tree columns u-pull-right">
                </div>
            </div>
        </div>
    </div><br><br><br><br>
</header>

</html>

<body>
    <section class="auxiliar">
        <h4>
            Siempre depositamos grandes expectativas en las personas que forman parte de MASCOTA FELIZ ; somos
            exigentes, pero nos gusta corresponder.

            Tenemos una orientación clara a la excelencia en la atención al cliente, nuestra misión es: “Ayudar a
            mejorar la vida de todas las mascotas”, somos coherentes con nuestra máxima y continuamente invertimos en
            planes de mejora ajustados a las necesidades de nuestros clientes con la máxima calidad.
        </h4>
    </section>

</body>
